@import url('https://fonts.googleapis.com/css?family=Roboto');
/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */
/*hi*/

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'crimson text', garamond, serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}

p {}

a {}

ul {}

ol {}

li {}

img {
    width: 15%;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    color: rgb(255,255,255);
    background-size: cover;
}

header > h1 {}

header > h2 {}

/*************************************************
            NAVMENU
*************************************************/
.mainnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(115,0,153);

}

nav {
    padding: 1rem 2rem;
}

nav > a,
nav > a:visited,
nav > a:link {
    color:rgb(255,255,255)
}

nav > a:active,
nav > a:focus,
nav > a:hover {}

/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

section {}

section p {}

section p img {
    float: right;
}

/*************************************************
            FOOTER
*************************************************/
footer {
    padding: 1rem 2rem;
    display: grid;
    grid-template-areas: "A B";
    background-color: rgb(115, 0, 153);
}

.foot nav {
    display: grid;
    grid-template-areas: "A B";
    background-color: rgb(115, 0, 153);
}

.docs{
    grid-area: A;
}

.channels {
    grid-area: B;
}
.foot section {}

.foot dl {}

.foot dt {}

.foot dd {}

.foot dd a,
.foot dd a:visited {
    color: rgb(255 ,255,255);
}

.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover {}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {
    html{
        min-width: 475px;
    }
    
    header {

        background-image: url("/responsive-website-project1-Haksakoun/img/header1s.jpg")
    }
}

@media (min-width: 600px) and (max-width:999px) {

    header {
        background-image: url("/responsive-website-project1-Haksakoun/img/header1m.jpg")
    }
}

@media (min-width: 1000px) {
    header {

        background-image: url("/responsive-website-project1-Haksakoun/img/header1l.jpg")
    }
}